{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ingreso de Pedido</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pedido') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
