{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Establecer IVA</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('iva') }}">
            Volver
        </a>
    </li>
</ul>
{% endblock %}
