{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
    <h1>Valor de IVA</h1>

   <div class="col-md-5">IVA: {% if entity.iva is defined %}{{ entity.iva }}%{% endif %}</div>
</div>
<div class="row">
    <ul>
        <li>
           
                <a href="{{ path('iva') }}">
                    Volver
                </a>
       </li>
       <li>
                <a href="{{ path('iva_edit', { 'id': entity.id }) }}">
                    Editar IVA
                </a>
       
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>

{% endblock %}
