{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Siembra</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('siembra') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
